<section>
  <div class="grid-wrapper">
    <div class="container_img_shadows">
      <img
        class="img img_shadows"
        src="assets/shadows/purple-shadow-footer.png"
        alt=""
      />
    </div>
  </div>
  <header>
    <div class="line"></div>
    <span id="contact">{{ contact }} </span>
  </header>
  <main>
    <div class="container_write_to">
      <div class="write_to">
        <div class="text">
          <h3>
            {{ solve }}
          </h3>
          <p>
            {{ reinforcement }}
          </p>
          <p>
            {{ wayMessage }}
            <strong>
              {{ entertain }}
            </strong>
          </p>
        </div>
        <!-- <form action="contactForm"> -->
        <form #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)">
          <label for="name"></label>
          <div class="input_box">
            <input
              [(ngModel)]="contactData.name"
              type="text"
              id="name"
              name="name"
              placeholder=" {{ yourName }}"
              required
              #name="ngModel"
            />

            @if ((!name.valid && name.touched) || submitted) {
              <img
                class="img_required"
                src="assets/img/contact/attention.svg"
                alt="required"
              />
            }
          </div>
          <div class="folder_teach">
            @if ((!name.valid && name.touched) || submitted) {
              <span class="required"> {{ pleaseName }}</span>
            }
          </div>
          <label for="email"></label>
          <div class="input_box">
            <input
              [(ngModel)]="contactData.email"
              type="email"
              id="email"
              name="email"
              placeholder="{{ yourMail }}"
              required
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              #email="ngModel"
            />
            @if ((!email.valid && email.touched) || submitted) {
              <img
                class="img_required"
                src="assets/img/contact/attention.svg"
                alt="required"
              />
            }
          </div>
          <label for=""></label>
          <div class="folder_teach">
            @if ((!email.valid && email.touched) || submitted) {
              <span class="required"> {{ pleaseEmail }}</span>
            }
          </div>
          <label for="message"></label>
          <div class="input_box">
            <textarea
              #message="ngModel"
              [(ngModel)]="contactData.message"
              id="message"
              name="message"
              placeholder=" {{ yourMassage }}"
              required
            ></textarea>
            @if ((!message.valid && message.touched) || submitted) {
              <img
                class="img_required"
                src="assets/img/contact/attention.svg"
                alt="required"
              />
            }
          </div>
          <div class="folder_teach">
            @if ((!message.valid && message.touched) || submitted) {
              <span class="required">
                {{ pleaseMassage }}
              </span>
            }
          </div>
          <div>
            <div class="container_box">
              <div class="privacy_box">
                <label for="box"></label>

                <div class="check">
                  <!-- <input
                    type="checkbox"
                    id="privacy"
                    name="privacy"
                    [(ngModel)]="contactData.privacyAccepted"
                    #privacy="ngModel"
                    required
                  /> -->

                  <!-- <div class="check">  -->
                  <input
                    class="checkbox"
                    type="checkbox"
                    id="privacy"
                    name="privacy"
                    [(ngModel)]="contactData.privacyAccepted"
                    #privacy="ngModel"
                    required
                  />
                  <label for="privacy" class="custom-checkbox">
                    <img
                      [src]="
                        contactData.privacyAccepted
                          ? 'assets/img/contact/checked.svg'
                          : 'assets/img/contact/default.svg'
                      "
                      [alt]="
                        contactData.privacyAccepted
                          ? 'Ausgewählt'
                          : 'Nicht ausgewählt'
                      "
                    />
                  </label>

                  <div class="policy">
                    {{ policyRead }}
                    <a
                      [routerLink]="['/', currentLang, 'privacy-policy']"
                      class="privacy-policy"
                    >
                      {{ policyPolicy }}
                    </a>
                    {{ policyAgree }}
                  </div>
                </div>

                <!-- -------------------------------------------------
                 
                -->
                <div class="folder_teach">
                  @if ((!privacy.valid && privacy.touched) || submitted) {
                    <p class="required">
                      {{ pleaseAccept }}
                    </p>
                  }
                </div>
                <!-- <div class="folder_teach">
                  <p class="required">{{ pleaseAccept }}</p>
                </div> -->
              </div>
            </div>
            <div class="form_butten">
              <input
                type="submit"
                value="{{ sendMessage }}"
                name="form_butten"
                [ngStyle]="{
                  'background-color':
                    name.valid &&
                    email.valid &&
                    message.valid &&
                    contactData.privacyAccepted
                      ? 'rgb(112, 230, 28, 1)'
                      : 'rgb(182, 182, 182, 1)',
                  border: 'none',
                }"
              />
            </div>
            <div class="folder_teach">
              @if (mailSent) {
                <span class="messageSend"
                  >{{ messageSend }}
                  <img src="assets/img/contact/finished.svg" alt="" />
                </span>
              }
            </div>

            <div class="folder_teach"></div>
          </div>
        </form>
      </div>
      <div class="container_arrow">
        <a
          [routerLink]="['/', translationService.getLanguage()]"
          fragment="landingpage"
        >
          <img
            [src]="imageSrc"
            (mouseenter)="onHover()"
            (mouseleave)="onLeave()"
            alt="arrow"
          />
        </a>
      </div>
    </div>
  </main>
</section>
