@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";

section {
  // border: 2px solid brown;
  display: grid;
  grid-template-columns: 535px auto auto 100px;
  grid-template-rows: auto auto;

  .container_img_shadows {
    @include layers(0);
    grid-column: 1 / 2;
    grid-row: 2 /3;
  }
  .container_write_to {
    padding: $p;
    // snschreiben
    grid-column: 1 / 4;
    grid-row: 2 /3;
    @include layers(1);
  }
}

// .head {
.line {
  grid-column: 1 /2;
  @include line($backc: $purple);
}
p {
  grid-column: 2 /3;
}
// }

.write_to {
  display: grid;
  grid-template-columns: 50% 50%;
  .text {
    width: 100%;
    grid-column: 1 /2;
  }
  .container_input {
    width: 100%;
    grid-column: 2 /3;
  }
}

.heding {
  // @include fontH();
}

.img {
  height: 747px;
  width: 902px;
  left: -312px;
  // transform: rotate(deg);
}

// beispiel
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  // background-color: #45a049;
  @include CustomBtn($backc: red);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
