<section>
  <div class="grid-wrapper">
    <div class="container_img_shadows">
      <img
        class="img img_shadows"
        src="assets/shadows/33. Purple shadow Footer.png"
        alt=""
      />
    </div>
  </div>
  <header>
    <div class="line"></div>
    <p id="contact">Contact</p>
  </header>

  <div class="container_write_to">
    <div class="write_to">
      <div class="text">
        <h3>got a poroblem to solve</h3>
        <p class="contact_text">
          lila border your name // schreiben grüner border ohne haken unter
          massege butten grau// mit haken butten grau // huffer lila input
          signals
        </p>
        <p>spioughsüsees</p>
      </div>
      <div class="container_input">
        <div class="input">
          <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <label for="name"></label>
            <input
              [(ngModel)]="contactData.name"
              type="text"
              id="name"
              name="name"
              placeholder="Your Name"
              required
              #name="ngModel"
            />
            @if(!name.valid && name.touched) {
            <span>Bitte Name einfügen</span>
            }

            <label for="email"></label>
            <input
              [(ngModel)]="contactData.email"
              type="email"
              id="email"
              name="email"
              placeholder="Your Mail"
              required
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              #email="ngModel"
            /><label for=""></label>
            @if(!email.valid && email.touched) {
            <span>Bitte Email einfügen</span>
            }
            <!-- <div *ngIf="email.invalid && email.touched">
              <span *ngIf="email.errors?.['required']"
                >E-Mail ist erforderlich.</span
              >
              <span *ngIf="email.errors?.['pattern']"
                >E-Mail ist ungültig.</span
              > -->
            <!-- </div> -->
            <label for="message"></label>
            <textarea
              #message="ngModel"
              [(ngModel)]="contactData.message"
              id="message"
              name="message"
              placeholder="Your Massage"
              required
            ></textarea>
            @if (!message.valid && message.touched) {
            <span>pleas enter a message</span>
            }
            <div>
              <label for="box"></label>
              <input
                type="checkbox"
                id="privacy"
                name="privacy"
                [(ngModel)]="contactData.privacyAccepted"
                #privacy="ngModel"
                required
              />
              <!-- @if (!privacy.valid && privacy.touched) {
              <span> Please accept the privacy policy</span>
              } -->

              <div
                class="fill_1out_hint"
                *ngIf="showError && !contactData.privacyAccepted"
              >
                Please accept the privacy policy
              </div>

              <div class="policy">
                I've read the
                <p [ngStyle]="{ color: 'rgb(151, 71, 255, 1)' }">
                  privacy policy
                </p>
                and agree to the porocessing of my data as outlined.
              </div>
              <input
                type="submit"
                value="send message :)"
                [disabled]="contactForm.invalid"
              />
            </div>
          </form>
        </div>
        <div class="arrow">
          <img src="assets/icons/Vector.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
