<section>
  <header>
    <hr class="long" />
    <h1>Privacy Policy</h1>
    <hr class="short" />
  </header>
  <div class="text">
    <h2>Controller</h2>
    <p>
      The controller within the meaning of the data protection laws, in
      particular the EU General Data Protection Regulation (GDPR), is:
    </p>
    <p class="generator_user_input">
      Theodor Seidenberger<br />
      Sudetenstrasse 6,<br />
      82362 Weilheim<br />
      Telephone: 01605013595<br />
      E-Mail: contact&#64;theodor-seidenberger.de
    </p>
    <h2>Your Rights as a Data Subject</h2>
    <p>
      Using the contact details provided, you may exercise the following rights
      at any time under the EU General Data Protection Regulation (GDPR):
    </p>
    <ul>
      <li>
        Access to the data we store about you and how it is processed (Art. 15
        GDPR),
      </li>
      <li>Rectification of inaccurate personal data (Art. 16 GDPR),</li>
      <li>Erasure of your stored data (Art. 17 GDPR),</li>
      <li>
        Restriction of data processing if we are not yet allowed to delete your
        data due to legal obligations (Art. 18 GDPR),
      </li>
      <li>
        Objection to the processing of your data by us (Art. 21 GDPR), and
      </li>
      <li>
        Data portability, provided you have consented to the data processing or
        have concluded a contract with us (Art. 20 GDPR).
      </li>
    </ul>
    <p>
      If you have given us consent, you can revoke it at any time with effect
      for the future.
    </p>
    <p>
      You may lodge a complaint with a supervisory authority at any time, e.g.,
      the competent authority in your state of residence or the authority
      responsible for us as the controller.
    </p>
    <p>
      A list of supervisory authorities (for the non-public sector) with contact
      details can be found at:
      <a
        href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
        >https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a
      >.
    </p>
    <h2>Processing Activities</h2>
    <h3>Collection of General Information When Visiting Our Website</h3>
    <h4>Type and Purpose of Processing</h4>
    <p>
      When you access our website, i.e., when you do not register or otherwise
      transmit information, general information is automatically collected.
      These details (server log files) include, for example, the type of web
      browser, the operating system used, the domain name of your internet
      service provider, your IP address, and similar data.
    </p>
    <p>They are processed in particular for the following purposes:</p>
    <ul>
      <li>Ensuring a smooth connection to the website</li>
      <li>Ensuring the smooth use of our website</li>
      <li>
        Ensuring and evaluating system security and stability, in particular for
        misuse detection
      </li>
      <li>Technical optimization and error-free presentation of the website</li>
    </ul>
    <p>
      We do not use your data to draw conclusions about you personally. However,
      we reserve the right to check server log files retrospectively if there
      are concrete indications of unlawful use.
    </p>
    <h4>Legal Basis and Legitimate Interest</h4>
    <p>
      Processing is carried out in accordance with Art. 6(1)(f) GDPR on the
      basis of our legitimate interest in improving the stability and
      functionality of our website, as well as ensuring system security and
      detecting misuse.
    </p>
    <h4>Recipients</h4>
    <p>
      Recipients of the data may be technical service providers who act as data
      processors for the operation and maintenance of our website.
    </p>
    <h4>Storage Duration</h4>
    <p>
      Data is stored in server log files in a form that allows identification of
      the data subjects for a maximum of seven days, unless a security-related
      event occurs (e.g., a DDoS attack).
    </p>
    <p>
      In such a case, server log files will be stored until the security-related
      incident has been resolved and fully clarified.
    </p>
    <h4>Provision Required or Necessary</h4>
    <p>
      The provision of the aforementioned personal data is neither legally nor
      contractually required. However, without the IP address, the service and
      functionality of our website cannot be guaranteed. Additionally, some
      services may be unavailable or restricted.
    </p>
    <h4>Objection</h4>
    <p>
      Please refer to the information about your right to object under Art. 21
      GDPR below.
    </p>
    <h3>Contacting Us</h3>
    <p>Type and Purpose of Processing</p>
    <p>
      Our website contains a contact form for electronic communication. If a
      user makes use of this option, the data entered in the input mask will be
      transmitted to us and stored.
    </p>
    <p>
      At the time the message is sent, the following data will also be stored:
    </p>
    <ul>
      <li>IP address of the requesting device</li>
      <li>Date and time of the request</li>
      <li>URL from which the request was made</li>
    </ul>
    <p>
      Contact via the provided email addresses is also possible. In this case,
      the personal data transmitted with the email will be stored. This includes
      the date and time of sending, email address, IP addresses, and information
      on the servers involved in the communication.
    </p>
    <p>
      You may also contact us via the telephone numbers provided. In doing so,
      we collect log data including your phone number and the duration of the
      call.
    </p>
    <p>
      Regardless of the communication method chosen, we collect the content of
      your inquiry. Your data will be stored for the purpose of individual
      communication with you.
    </p>
    <h4>Legal Basis</h4>
    <p>
      The processing of data is based on a legitimate interest (Art. 6(1)(f)
      GDPR).
    </p>
    <p>
      Our legitimate interest in processing your data is to enable uncomplicated
      communication.
    </p>
    <p>
      If you contact us to request an offer, the data will be processed for the
      performance of pre-contractual measures (Art. 6(1)(b) GDPR).
    </p>
    <h4>Recipients</h4>
    <p>
      Recipients of the data may be technical service providers who act as data
      processors for the operation and maintenance of our website.
    </p>
    <h4>Storage Duration</h4>
    <p>
      Data will be deleted no later than six months after your inquiry has been
      processed.
    </p>
    <p>
      If a contractual relationship arises, we are subject to statutory
      retention periods. These are generally 6 or 10 years for reasons of proper
      accounting and tax compliance.
    </p>
    <h4>Provision Required or Necessary</h4>
    <p>
      The provision of your personal data is voluntary. However, we can only
      process your request if you provide us with the necessary data and the
      reason for your inquiry.
    </p>
    <h4>Objection</h4>
    <p>
      Please refer to the information about your right to object under Art. 21
      GDPR below.
    </p>
    <h2>Information About Your Right to Object Under Art. 21 GDPR</h2>
    <h3>Right to Object in Individual Cases</h3>
    <p>
      You have the right, for reasons arising from your particular situation, to
      object at any time to the processing of personal data concerning you which
      is based on Art. 6(1)(f) GDPR (data processing on the basis of a balancing
      of interests); this also applies to profiling based on this provision
      within the meaning of Art. 4(4) GDPR.
    </p>
    <p>
      If you object, we will no longer process your personal data unless we can
      demonstrate compelling legitimate grounds for the processing that override
      your interests, rights, and freedoms, or the processing serves to assert,
      exercise, or defend legal claims.
    </p>
    <h3>Recipient of an Objection</h3>
    <p class="generator_user_input">
      Theodor Seidenberger<br />
      Sudetenstrasse 6,<br />
      82362 Weilheim<br />
      Telephone: 01605013595<br />
      E-Mail: contact&#64;theodor-seidenberger.de
    </p>
    <h2>Amendment of Our Privacy Policy</h2>
    <p>
      We reserve the right to adapt this privacy policy so that it always
      complies with current legal requirements or to reflect changes in our
      services in the privacy policy, e.g., when introducing new services. The
      new privacy policy will apply to your next visit.
    </p>
    <h2>Questions About Data Protection</h2>
    <p>
      If you have any questions about data protection, please send us an email
      to the controller named above.
    </p>
    <h2>Copyright Notice</h2>
    <p>
      <em
        >This privacy policy was created with the help of activeMind AG – the
        experts for
        <a
          href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
          target="_blank"
          rel="noopener dofollow"
          >external data protection officers</a
        >
        (Version #2024-10-25).</em
      >
    </p>
    <!-- </div> -->
  </div>
</section>
