@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";
@import "./../../../scss/media.scss";

section {
  min-height: calc(100vh - 3.3125rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5.3125rem; /* Inhalt rutscht unter den Header */
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

hr {
  height: 2px;
  background: $purple;
  border: none;
}

.long {
  width: 10vw;
}

.short {
  width: 40vw;
}

h2 {
  @include fontH(
    $font_size: $font_h_3,
    $font_weight: $f_w_small,
    $f_media: $f_body_3,
    $f_media_small: $f_body_4
  );
  color: $purple;
}

.text {
  @include responsivePadding($p, $p-media);
}

.linie-mit-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
