<div id="generator_results">
  <div id="generator_results_content">
    <h1>Impressum</h1>
    <h2>Verantwortliche(r)</h2>
    <p class="generator_user_input">Theodor Seidenberger</p>
    <h3>Postanschrift</h3>
    <p class="generator_user_input">
      Sudetenstrasse 6, <br />
      82362 Weilheim
    </p>
    <h3>Kontakt</h3>
    <p>E-Mail: contact&#64;theodor-seidenberger.de</p>
    <p>Telefon: 01605013595</p>
    <h2>Hinweise zur Website</h2>
    <p>
      <em
        >Dieses Impressum wurde mit Hilfe des
        <a
          href="https://www.activemind.de/generatoren/impressum/"
          target="_blank"
          rel="noopener"
          >Impressums-Generators der activeMind AG</a
        >
        erstellt (Version 2024-07-21).</em
      >
    </p>
  </div>
</div>
