<section>
  <header>
    <hr class="long" />
    <h1>
      {{ legelNotice }}
    </h1>
    <hr class="short" />
  </header>

  <div class="text">
    <h2>Verantwortlicher</h2>
    <p>Theodor Seidenberger</p>
    <h3>Postanschrift</h3>
    <p>
      Sudetenstrasse 6, <br />
      82362 Weilheim
    </p>
    <h3>Kontakt</h3>
    <p>E-Mail: contact&#64;theodor-seidenberger.de</p>
    <p>Telefon: 01605013595</p>
    <h2>Hinweise zur Website</h2>
    <p>
      <em
        >Dieses Impressum wurde mit Hilfe des
        <a
          href="https://www.activemind.de/generatoren/impressum/"
          target="_blank"
          rel="noopener"
          >Impressums-Generators der activeMind AG</a
        >
        erstellt (Version 2024-07-21).</em
      >
    </p>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</section>
