<section>
  <header>
    <hr class="long" />
    <h1>
      {{ legelNotice }}
    </h1>
    <hr class="short" />
  </header>

  <div class="text">
    <h2>{{ responsible }}</h2>
    <p>Theodor Seidenberger</p>
    <h3>{{ address }}</h3>
    <p>
      Sudetenstrasse 6, <br />
      82362 Weilheim
    </p>
    <h3>{{ contact }}</h3>
    <p>E-Mail: contact&#64;theodor-seidenberger.de</p>
    <p>{{ telephone }}: 01605013595</p>
    <h2>{{ noteWebsite }}</h2>
    <p>
      <em
        >{{ noteWebsiteOne }}
        <a
          href="https://www.activemind.de/generatoren/impressum/"
          target="_blank"
          rel="noopener"
          >{{ noteWebsiteTwo }} (Imprint generator of the) activeMind AG</a
        >
        {{ created }} (Version 2024-07-21).</em
      >
    </p>
  </div>
</section>
