@import "./../../../../styles.scss";
@import "./../../../../scss/layers.scss";
@import "./../../../../scss/mixin.scss";
@import "./../../../../scss/media.scss";

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  a {
    font-size: 28px;
    @include textN();
    // padding: 20px;
    margin: 20px;

    &:hover {
      color: $green;
    }
    &.click {
      color: $green;
      display: inline-block;
      background-image: linear-gradient($purple, $purple);
      background-size: 50% 2px;
      background-repeat: no-repeat;
      background-position: left bottom;
    }
  }
}

@media only screen and (max-width: 1000px) {
  nav {
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
}

// nav {
//   display: flex;
//   align-items: center;
//   gap: 20px;

//   a {
//     font-size: 28px;
//     @include textN();
//     padding-bottom: 6px; // Platz für Balken reservieren
//     position: relative; // wichtig für ::after Positionierung
//     color: black; // Standardfarbe

//     // Textfarbe beim Hover
//     &:hover {
//       color: $green;
//     }

//     // Balken für Hover und Focus
//     &::after {
//       content: "";
//       position: absolute;
//       left: 0;
//       bottom: 0;
//       width: 100%;
//       height: 2px;
//       background-color: red;
//       transform: scaleX(0); // Balken unsichtbar
//       transform-origin: left;
//       transition: transform 0.25s ease;
//     }

//     &:hover::after,
//     &:focus-visible::after {
//       transform: scaleX(1); // Balken sichtbar
//     }

//     Optional: outline entfernen, da Balken Fokus anzeigt
//     &:focus {
//       outline: none;
//     }
//   }
// }
