@import "./../../../../styles.scss";
@import "./../../../../scss/layers.scss";
@import "./../../../../scss/mixin.scss";
@import "./../../../../scss/media.scss";

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  a {
    font-size: 28px;
    @include textN();
    margin: 20px;

    &:hover {
      color: $green;
    }
    &.click {
      color: $green;
      display: inline-block;
      background-image: linear-gradient($purple, $purple);
      background-size: 50% 2px;
      background-repeat: no-repeat;
      background-position: left bottom;
    }
  }
}

@media only screen and (max-width: 1000px) {
  nav {
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
}
