@import "./../../../../styles.scss";
@import "./../../../../scss/layers.scss";
@import "./../../../../scss/mixin.scss";
@import "./../../../../scss/media.scss";

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  a {
    font-size: 28px;
    @include textN();
    padding: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  nav {
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
}
