@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";

section {
  position: relative;
  @include layers(1);
  // margin-top: calc(-50% + 10px);
  height: calc(100vh - 53px);
  overflow: hidden;
  position: sticky;
  bottom: 80px;
  img {
    width: 100%;
    display: block;
  }
}

@media (min-width: 1921px) {
  section {
    margin-top: calc(-50% + 10px);
  }
}

@media (max-width: 1920px) {
  section {
    margin-top: calc(-60vh + 5px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  section {
    margin-top: calc(-60vh + 50px);
  }
}

@media (max-width: 600px) {
  section {
    margin-top: calc(-60vh + 45px);
  }
}

@media (max-width: 450px) {
  section {
    margin-top: calc(-55vh + 50px);
  }
}
