@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";

section {
  position: relative;
  @include layers(2);
  // margin-top: -650px;
  margin-top: calc(-65vh + 50px);
  overflow: hidden;

  position: sticky;
  bottom: 80px;
  img {
    width: 100%;

    display: block;
  }
}

@media (min-width: 1900px) {
  section {
    margin-top: calc(-90vh + 50px);
  }
}

// @ von 1440 bis 1900

@media (max-width: 600px) {
  section {
    margin-top: calc(-55vh + 50px);
  }
}

@media (max-width: 400px) {
  section {
    margin-top: calc(-50vh + 50px);
  }
}
