<section class="sign">
  <!-- <div> -->
  <!-- <div>
      <hr />
      <img class="icons" src="assets/icons/Property 1=Default.png" alt="" />
      <img class="icons" src="assets/icons/Property 1=Default (1).png" alt="" />
      <img class="icons" src="assets/icons/Property 1=Default (2).png" alt="" />
      <span class="icons">email icans</span>
    </div>
    <div class="rotate">
      <p class="icons">scroll down</p>
      <img src="assets/icons/arrow-down-line.png" alt="" />
    </div>
  </div> -->
</section>
<div class="wave">
  <!-- <img
    class="wave_left"
    src="assets/background/28. Hero Background.png"
    alt=""
  />
  <img
    class="wave_right"
    src="assets/background/28. Hero Background.png"
    alt=""
  /> -->
</div>
