@import "./../../../styles.scss";

section {
  // padding: $p;

  background-color: $blue;
  width: 100%;
  border: 2px solid rgb(223, 90, 223);
}

.wave {
  padding: 0;

  .wave_right {
    // border: 2px solid green;
    position: absolute;
    top: 300px;
  }
  .wave_left {
    position: absolute;
    top: 300px;
    z-index: 2;
    width: 50%;
    // object-fit: cover;
  }
}
