@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";
@import "./../../../scss/media.scss";

section {
  height: calc(100vh - 53px);
  width: 100%;
  @include gridCandRows(auto auto auto);
  //   padding-right: 100px;
  padding-top: 50px;
  padding-right: 0px;
}

.background {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  picture {
    img {
      height: auto;
      display: block;

      object-fit: cover;
      object-position: left center;
      width: 100%;
    }
  }
}

.img-big {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.container_name {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 0px;
  @include layers(4);
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 70vh;
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    article {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      .rotate {
        transform: rotate(270deg) translate(-20%, -30%);
        white-space: nowrap;
        @include fontH(
          $font_size: $font_h_2,
          $font_weight: $f_w_small,
          $f_media: $f_body_2,
          $f_media_small: $f_body_2
        );
        line-height: 0;
        margin: -20px;
      }
    }
  }
}

.container_head {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 20px;
  .head {
    @include fontH($f_media_small: $f_body_2);
  }
  .discription {
    @include fontH(
      $font_size: $font_h_3,
      $font_weight: $f_w_small,
      $f_media: $f_body_3,
      $f_media_small: $f_body_6
    );
    color: $purple;
  }
}

.container_butten {
  align-self: center;
  margin-bottom: 20px;
  aside {
    padding-top: 30px;
    a {
      font-size: 23px;
      text-decoration: none;
      color: $white;
      background-color: $green;
      padding: 15px 30px 15px 30px;
      border-radius: 10px;

      position: relative;
      @include layers(10);
    }
    a:hover {
      transition: all 0.2s ease;
      background-color: $purple;
      padding: 20px 35px;
    }
  }
}

.container_icons {
  // max-width: 1440px;
  // margin: 0 auto;
  display: flex;
  align-items: flex-end;
  // justify-content: center;
  grid-area: icons;
  @include layers(3);
  padding-top: 40px;
  flex: 1;
}

.overlay_rotated {
  max-width: 1440px;
  margin: 0 auto;
  @include dNone();
  display: flex;
  align-items: center;
  transform-origin: 100% 0%;
  transform: rotate(90deg);
  gap: 8px;
  padding-bottom: -20px;
  .discription_page {
    font-size: 23px;
    transform: rotate(180deg);
    @include fontH(
      $font_size: $f_body_5,
      $font_weight: $f_w_small,
      $f_media: $f_body_5
    );
  }
  .rotate_arrow {
    transform: rotate(270deg);
    transform-origin: center;

    width: 20px;
    height: auto;
  }
}

.img-small {
  display: none;
}

//   -------------------
// -------------------

@media (min-width: 600px) {
  .container_icons {
    justify-content: space-between;
  }

  .overlay_rotated {
    max-width: 1440px;
    margin: 0 auto;
    right: 50px;
    top: 50%;
    position: absolute;
  }
}

@media (min-width: 576px) {
  .container_name {
    align-items: center;
    justify-content: flex-end;
    // height: 70vh;
  }

  .container_icons {
    align-items: flex-end;
    padding-bottom: 20px;
  }
}

// @media (min-width: 600px) {
//   .img-big {
//     display: block;
//   }
//   .img-small {
//     display: none;
//   }
// }

@media (min-width: 1201px) {
  section {
    padding-top: 80px;
  }
}

@media (max-width: 1200px) {
  section {
    grid-template-areas:
      "person"
      "name"
      "icons";
  }

  .imgs {
    grid-template-columns: 1fr;
  }
  .container_img_person {
    img {
      content: url("/assets/background/wave-and-body-responsive.png");
      width: 300px;
    }
  }
}

//   @media (max-width: 600px) {
//   }

//   .container_img_shadows {
//     img {
//       width: 300px;
//     }
//   }
//   .container_imgs {
//     place-items: start;
//   }
// }

// @media (max-width: 400px) {
//   section {
//     padding-top: 50px;
//     padding-right: 10px;
//     padding-left: 10px;
//   }
//   .container_name {
//     .column {
//       margin-right: 0px;
//     }
//   }

//   .rotated-label {
//     margin-right: 25px;
//   }

//   .container_icons {
// #
//   }
// }
