@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";
@import "./../../../scss/media.scss";

section {
  padding-top: 40px;

  height: calc(100vh - 53px);
  width: 100%;
  background-color: $blue;

  @include gridCandRows(auto auto auto);
  padding-right: 100px;
}

.background {
  position: absolute;
  overflow: hidden;

  // background-image: url("../public/assets/background/wave-and-body2.png");
  img {
    height: auto;
    display: block;
    width: 100vw;
    object-fit: cover;
    object-position: left center;
  }
}

.test {
  @include max_Width();
  margin: auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  // width: 100%;

  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
  // flex-direction: column;
  // position: relative;
  // height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.container_name {
  // padding-top: 50px;
  // margin-top: -70px;
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
  // grid-area: name;
  @include layers(4);
  flex: 1; /* füllt den Platz bis zum Boden */
  display: flex;
  align-items: center; /* vertikal zentrieren */
  justify-content: flex-end;

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-right: 100px;
    article {
      display: flex;
      flex-direction: row;
      align-items: center;
      .rotate {
        transform: rotate(270deg) translate(-20%, -30%);
        // gap: 20px;
        white-space: nowrap;
        @include fontH(
          $font_size: $font_h_2,
          $font_weight: $f_w_small,
          $f_media: $f_body_2,
          $f_media_small: $f_body_2
        );
        line-height: 0;
        margin: -20px;
      }
    }
  }
}

.container_head {
  display: flex;
  flex-direction: column;
  .head {
    @include fontH($f_media_small: $f_body_2);
  }
  .discription {
    @include fontH(
      $font_size: $font_h_3,
      $font_weight: $f_w_small,
      $f_media: $f_body_3,
      $f_media_small: $f_body_4
    );
    color: $purple;
  }
}

.container_butten {
  align-self: center; /* unten in der Mitte */
  margin-bottom: 20px;

  // display: flex;
  // justify-content: center;
  // margin-top: 40px;
  // margin: 40px;
  aside {
    a {
      font-size: 23px;
      text-decoration: none;
      color: $white;
      background-color: $green;
      padding: 15px 30px 15px 30px;
      border-radius: 10px;
      // @include fontH(
      //   $font_size: $font_h_3,
      //   $font_weight: $f_w_small,
      //   $f_media: $f_body_3
      // );
    }
  }
}

.container_icons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  grid-area: icons;
  @include layers(3);
}

.overlay_rotated {
  @include dNone();
  display: flex;
  align-items: center;
  transform-origin: 100% 0%;
  transform: rotate(90deg);
  gap: 8px;
  padding-bottom: -20px;
  .discription_page {
    font-size: 23px;
    transform: rotate(180deg);
    @include fontH(
      $font_size: $f_body_5,
      $font_weight: $f_w_small,
      $f_media: $f_body_5
    );
  }
  .rotate_arrow {
    transform: rotate(270deg);
    transform-origin: center;

    width: 20px;
    height: auto;
    // margin-right: 80px;
  }
}

// address {
//   font-style: normal;
//   font-family: inherit;
// }

.img-small {
  display: none;
}

@media (max-width: 600px) {
  .img-big {
    display: none;
  }
  .img-small {
    display: block;
  }
}

@media (min-width: 1201px) {
  section {
    padding-top: 80px;
  }
}

@media (max-width: 1200px) {
  section {
    grid-template-areas:
      "person"
      "name"
      "icons";
  }

  .imgs {
    grid-template-columns: 1fr;
  }
  .container_img_person {
    img {
      content: url("/assets/background/wave-and-body-responsive.png");
      width: 300px;
    }
  }

  @media (max-width: 600px) {
  }

  .container_img_shadows {
    img {
      width: 300px;
    }
  }
  .container_imgs {
    place-items: start;
  }
}

@media (max-width: 400px) {
  section {
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .container_name {
    .column {
      margin-right: 0px;
    }
  }

  .rotated-label {
    margin-right: 25px;
  }

  .container_icons {
    padding-top: 20px;
  }
}

@media (max-width: 350px) {
  section {
    padding-top: 50px;
    padding-right: 0px;
  }
  .column {
    margin-right: 0px;
  }
  .container_icons {
    padding-top: 20px;
  }
  .container_head {
    position: relative;
    right: 20px;
  }
  .container_name {
    margin-top: 0px;
  }
}
