<section class="font">
  <div><app-header></app-header></div>
  <!-- <img
    class="img_person"
    src="./../../../../public/assets/img/body.png"
    alt=""
  /> -->
  <div class="img img_text">
    <div class="imgs">
      <img class="img img_person" src="assets/img/body.png" alt="" />
      <img
        class="img img_shadows"
        src="assets/shadows/29. photo shadows (1).png"
        alt=""
      />
    </div>

    <div class="person">
      <div>
        <!-- <p>The<p class="text">e</p>o Seidenberger</p> -->
        <p class="rotate">I am</p>
        <p>Theodor Seidenberger</p>
        <p class="discription">FRONTEND DEVELOPER</p>
        <a href="">Let's talk</a>
      </div>
      <div></div>
    </div>
  </div>
  <div>
    <div>
      email icans
      <p>scroll down</p>
    </div>
  </div>
</section>
<div>
  <img
    class="img hero_background"
    src="assets/background/28. Hero Background.png"
    alt=""
  />
</div>
