<section id="#home">
  <div id="landingpage" class="container_imgs">
    <div class="imgs">
      <div class="container_img_person">
        <img src="assets/img/body.png" alt="" />
      </div>
      <div class="container_img_shadows">
        <img src="assets/shadows/29. photo shadows (1).png" alt="" />
      </div>
    </div>
  </div>

  <div class="container_name">
    <div class="column">
      <article class="d_flex_c">
        <span class="rotate">{{ rotate }}</span>
        <div class="container_head">
          <span class="head">Theodor Seidenberger</span>
          <span class="discription">FRONTEND DEVELOPER</span>
        </div>
      </article>

      <div class="container_butten">
        <aside>
          <a href="#contact">{{ talk }}</a>
        </aside>
      </div>
    </div>
  </div>
  <div class="container_icons">
    <app-button-img [show]="true"></app-button-img>
    <div class="overlay_rotated">
      <p class="discription_page">{{ scroll }}</p>
      <img class="rotate_arrow" src="assets/icons/arrow-down-line.png" alt="" />
    </div>
  </div>
</section>
