<section id="#home">
  <div id="landingpage" class="background">
    <img src="assets/background/wave-and-body2.png" class="img-big" />
  </div>

  <div class="wrapper">
    <div class="container_name">
      <div class="column">
        <article>
          <span class="rotate">{{ rotate }}</span>
          <div class="container_head">
            <span class="head">Theodor</span>
            <span class="head">Seidenberger</span>
            <span class="discription">FRONTEND DEVELOPER</span>
          </div>
        </article>

        <div class="container_butten">
          <aside>
            <a href="#contact">{{ talk }}</a>
          </aside>
        </div>
      </div>
    </div>
    <div class="container_icons">
      <app-button-img [show]="true"></app-button-img>
      <div class="overlay_rotated">
        <p class="discription_page">{{ scroll }}</p>
        <img
          class="rotate_arrow"
          src="assets/icons/arrow-down-line.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
