@import "./../../../styles.scss";

section {
  // padding: $p;
  min-height: 100vh;
  width: 100%;
  background-color: $dark_blue;
  border: 2px solid red;
}

.container {
  display: flex;
  z-index: 1;

  .img_person {
    position: absolute;
    top: 106px;
    // left: 47px;
    width: 646px;
    height: 705px;

    bottom: 0px;
    // z-index: 2;
  }
  .img_shadows {
    // position: absolute;
    width: 690px;
    height: 671px;
    top: 221px;
    left: 12px;
    // z-index: 1;
  }
}

.overlay {
  position: absolute;
  // position: relative;
  top: 300px;
  // left: 0;
  width: 1340px;
  // width: 1440px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  // height: 100vh;''

  .name {
    display: flex;
    align-items: flex-start;
    // align-content: center;
    justify-content: flex-end;
    height: 600px;
    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: flex-end;
      .d_flex_c {
        display: flex;
        align-items: center;

        .rotate {
          transform: rotate(90deg);
          gap: 20px;
        }
        .heding {
          @include fontH();
        }
        .discription {
          color: $purple;
        }
      }
    }
  }
}

a {
  font-size: 23px;
  text-decoration: none;
  color: $white;
  background-color: $green;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
}

.display_ai {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .overlay_icons {
    display: flex;
    align-items: center;
    hr {
      border: none;
      height: 4px;
      width: 100px;
      color: $purple;
      background-color: $purple;
    }
    .icons {
      padding: 20px;
    }
  }
}

.overlay_rotated {
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  gap: 20px;
  .discription_page {
    font-size: 23px;
  }
  .rotate_arrow {
    transform: rotate(270deg);
    transform-origin: center;
    object-fit: cover;
    height: 16px;
    width: auto;
  }
}

p {
  font-size: 48px;
}

// .hero_background {
//   // width: 100%;
//   // bottom: 20px;
//   // z-index: 3;
//   position: absolute;
//   top: 250px;
// }

// .rotate {
//   transform: rotate(90deg);
//   gap: 20px;
// }
