@import "./../../../styles.scss";

// section {
// padding: $p;
// }

section {
  //     width: 100%;
  //     // padding: 37px 0px 37px 0px;
  //     width: calc(100vw - 200px);
  //     // overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  > div {
    width: 400px;
    display: flex;
    justify-content: space-around;
  }
}

a {
  text-decoration: none;
  color: $white;
}

p {
  font-size: 50px;
}

.letter_e {
  position: relative;
  display: inline-block;
}

.letter_e::after {
  content: "e";
  position: absolute;
  left: 0;
  top: 50;
  color: $green;
  clip-path: inset(0 0 50% 0);
}

.letter_r {
  position: relative;
  display: inline-block;
}

.letter_r::after {
  content: "r";
  position: absolute;
  left: 0;
  top: 50;
  color: $purple;
  clip-path: inset(0 0 50% 50%);
}
