@import "./../../../styles.scss";

section {
  position: fixed;
  top: 0;
  // border: 2px solid burlywood;
  // display: flex;
  width: 1440px;
  z-index: 6;
  .header {
    padding: $p;

    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    > div {
      display: flex;
      justify-content: space-around;
    }
  }
}

p {
  font-size: 35px;
  font-weight: 700;
  > .letter_e {
    position: relative;
    display: inline-block;
  }
  > .letter_e::after {
    content: "e";
    position: absolute;
    left: 0;
    top: 50;
    color: $green;
    clip-path: inset(0 0 50% 0);
  }
  > .letter_r {
    position: relative;
    display: inline-block;
  }
  > .letter_r::after {
    content: "r";
    position: absolute;
    left: 0;
    top: 50;
    color: $purple;
    clip-path: inset(0 0 50% 50%);
  }
}

a {
  font-size: 28px;
  text-decoration: none;
  color: $white;
  padding: 20px;
}

.ABSTAND {
  margin: 20px;
  border: 1px;
  border-radius: 10px;
  border-color: $green;
}
