<section>
  <div class="container_header_outer">
    <div class="container_header_inner">
      <!-- <p> -->
      <a href="#landingpage" class="letter">
        <!-- <p> -->
        Th<span class="letter_e">e</span>odo<span class="letter_r">r </span>
        <!-- </p> -->
      </a>
      <!-- </p> -->
      <div class="burger">
        <img src="assets/icons/Property 1=burger.png" alt="" />
      </div>
      <div class="destop">
        <a href="#about">{{ about }}</a>
        <a href="#mySkill">{{ skill }}</a>
        <a href="#portfolio">{{ portfolio }}</a>
        <!-- <div>
        <a class="ABSTAND" href="">DE</a>
        <a class="ABSTAND" href="">EN</a>


      </div> -->

        <div>
          <button (click)="switchLang('de')">De</button>
          <button (click)="switchLang('en')">En</button>
        </div>
      </div>
    </div>
  </div>
</section>
