@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";

section {
  background-color: $blue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
  height: 110px;
  .container_header_outer {
    @include max_Width();
    .container_header_inner {
      @include max_Width();
      border: 2px solid yellow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: $p;
      > div {
        display: flex;
        justify-content: space-around;
        > div {
          display: flex;
          // justify-content: space-around;
          gap: 20px;
          button {
            background-color: #04aa6d; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
          }
          //           background-color: white;
          // color: black;
          // border: 2px solid #04AA6D;
        }
      }
    }
  }
}

p {
  border-color: green;
  font-size: 35px;
  font-weight: 700;
  > .letter_e {
    position: relative;
    display: inline-block;
  }
  > .letter_e::after {
    content: "e";
    position: absolute;
    left: 0;
    top: 50;
    color: $green;
    clip-path: inset(0 0 50% 0);
  }
  > .letter_r {
    position: relative;
    display: inline-block;
  }
  > .letter_r::after {
    content: "r";
    position: absolute;
    left: 0;
    top: 50;
    color: $purple;
    clip-path: inset(0 0 50% 50%);
  }
}

a {
  font-size: 28px;
  text-decoration: none;
  color: $white;
  padding: 20px;
}

.ABSTAND {
  margin: 20px;
  border: 1px;
  border-radius: 10px;
  border-color: $green;
}
