<section>
  <header>
    <div class="header-inner">
      <a href="#home" class="logo"
        >Th<span class="letter_e">e</span>odo<span class="letter_r">r </span>
      </a>
      <!-- <div (click)="toggelMenu()" class="burger">
      <img src="assets/icons/Property 1=burger.png" alt="" />
    </div> -->
      <button (click)="toggelMenu()" class="burger">
        <img src="assets/icons/Property 1=burger.png" alt="" />
      </button>

      <nav class="desktop"><app-menu-overlay></app-menu-overlay></nav>
    </div>
  </header>
  @if (showMenu) {
  <div class="mobil">
    <!-- <nav> -->
    <app-menu-overlay></app-menu-overlay>
    <!-- </nav> -->
  </div>
  }
</section>
