@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/media.scss";
@import "./../../../scss/mixin.scss";

section {
  // overflow: hidden;
  height: 100vh;
  @include fontH(
    $font_size: $f_body_6,
    $font_weight: $f_w_small,
    $f_media: $f_body_8
  );
  border: 2px solid red;
  // @include gridCandRows(auto auto);
  // display: grid;
  // grid-template-columns: auto 140px;
  // grid-template-rows: 50px auto;

  .container_carousel {
    grid-column: 1 /3;
    grid-row: 2 / 3;
    // padding-left: 100px;

    @include layers(1);
    display: flex;
    flex-direction: row-reverse;
    // flex-direction: column;
    gap: 10px;
  }
  .container_img_shadows {
    @include layers(0);
    grid-column: 2 / 3;
    grid-row: 1 /2;
    top: -500px;
    // position: relative;
    // position: absolute;
    .img_shadows {
      height: 951px;
      width: 428px;
      transform: rotate(196deg);
      // position: absolute;
      // overflow: visible;
      // top: -100px;
      // right: -200px;
    }
  }
}

.carousel {
  @include padding();
  display: grid;
  grid-template-columns: auto 276px 104px;
  align-items: center;
  overflow: hidden;
  display: flex;

  // display: flex;
  // flex-direction: row;
  // align-items: flex-start;
  // justify-content: space-between;
  // flex-wrap: wrap;
  // gap: 20px;

  .border {
    width: auto;
    height: 272px;
    // padding 48px,;
    border-radius: 32px;
    border: 4px solid $green;
    grid-column: 1 / 2;
  }
}

.content {
  display: grid;
  grid-template-rows: 68px 112px 22px;
  min-width: 200px;
  // text-align: center;
  img {
    grid-row: 1/2;
    height: 97px;
    width: 68px;
    top: -50px;
    left: -45px;
    position: relative;
  }
  p {
    grid-row: 2/3;
  }

  .container_signature {
    grid-row: 3/4;
  }
  .signature {
    @include fontH(
      $font_size: $f_body_7,
      $font_weight: $f_w_small,
      $f_media: $f_body_8
    );
  }
}

.container_img_carousel {
  // grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .img_carousel {
    height: 272px;
    width: 272px;
    border-radius: 50%;
    border: 4px solid $purple;
    object-fit: contain;
    @include layers(2);
  }
}

.line {
  border: none;
  height: 4px;
  width: 100px;
  background-color: $purple;
  // grid-column: 5 /6;
  grid-column: 3 / 4;
}

.navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  .circle {
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: #70e61c;
  }
}

button {
  text-decoration: none;
}

@media (max-width: 800px) {
  .container_carousel {
    flex-direction: column !important;
    // padding: $p-media;
    // padding-left: 0;
    // pading
  }
}

@media (max-width: 600px) {
  .line {
    width: 123px;
  }
  .container_img_carousel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .img_carousel {
    height: 144px;
    width: 144px;
  }
  .container_img_shadows {
    left: 450px;
    top: -1000px;
  }
  .content {
    img {
      // grid-row: 1/2;
      height: 68px;
      width: 48px;
    }
  }
}

@media (max-width: 380px) {
  .container_img_shadows {
    left: 300px;
    top: 10px;
  }
}

@media (max-width: 380px) {
  .container_img_shadows {
    top: -1000px;
    left: 230px;
  }
}
