<section>
  <div class="container_carousel">
    <div class="container_img_carousel">
      <div>
        <img class="img_carousel" [src]="currentItem.image" alt="" />
      </div>
      <div class="line"></div>
    </div>
    <div class="carousel">
      <div class="border">
        <div class="content">
          <div>
            <img src="assets/img/description/Frame 281@2x.png" alt="" />
          </div>
          <p>{{ currentItem.text }}</p>
          <div class="container_signature">
            <hr />
            <p class="signature">{{ currentItem.signature }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="navigator">
      <button (click)="prev()" [disabled]="currentIndex === 0">
        <img src="assets/img/description/Property 1=links.png" alt="" />
      </button>
      <div *ngFor="let carousel of carousel; let i = index">
        <div class="circle"></div>
      </div>
      <button
        (click)="next()"
        [disabled]="currentIndex === carousel.length - 1"
      >
        <img src="assets/img/description/Property 1=rechts.png" alt="" />
      </button>
    </div>
  </div>
  <div class="container_img_shadows">
    <img
      class="img img_shadows"
      src="assets/shadows/31. Green shadow Skills Portfolio.png"
      alt=""
    />
  </div>
</section>
