@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/media.scss";
@import "./../../../scss/mixin.scss";

section {
  margin-top: 50px;
  position: relative;
  // overflow: hidden;
  @include fontH(
    $font_size: $f_body_6,
    $font_weight: $f_w_small,
    $f_media: $f_body_8
  );
  // border: 2px solid red;
  .container_carousel {
    @include layers(1);
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .img_carousel {
        height: 272px;
        width: 272px;
        border-radius: 50%;
        border: 4px solid $purple;
        object-fit: contain;
        @include layers(2);
      }
    }
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10px;
  position: relative;
  .container_img_shadows {
    @include layers(0);
    top: -500px;
    left: 1300px;
    // overflow: hidden;
    position: relative;
    img {
      height: 951px;
      width: 428px;
      transform: rotate(196deg);
    }
  }
}

.line {
  border: none;
  height: 4px;
  width: 100px;
  background-color: $purple;
}

.carousel {
  @include padding();
  // @include padding($width: 700px);
  align-items: center;
  overflow: hidden;
  display: flex;

  .border {
    width: auto;
    height: 272px;
    border-radius: 32px;
    border: 4px solid $green;
    grid-column: 1 / 2;
    img {
      grid-row: 1/2;
      height: 68px;
      width: 97px;
      top: -50px;
      left: -45px;
      position: relative;
    }
  }
}

.content {
  min-width: 200px;

  .signature {
    @include fontH(
      $font_size: $f_body_7,
      $font_weight: $f_w_small,
      $f_media: $f_body_8
    );
  }
}

.container_signature {
  display: flex;
  flex-direction: column;
  // width: 450px;
  // div {
  //       flex-direction: column;
  // }
}

.navigator {
  @include layers(1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  .circle {
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: $purple;
  }

  .circle.active {
    background-color: $green;
  }
  button {
    text-decoration: none;
    background: none;
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 850px) {
  .container_carousel {
    flex-direction: column !important;
  }
  // .container_signature {
  //   width: auto;
  // }
}

@media (max-width: 600px) {
  .line {
    width: 123px;
  }
  .container_img_carousel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .container_signature {
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .img_carousel {
    height: 144px;
    width: 144px;
  }
  .container_img_shadows {
    left: 450px;
    top: -1000px;
  }
  .content {
    img {
      height: 68px;
      width: 48px;
    }
  }
  .carousel {
    .border {
      img {
        top: -80px;
        left: -20px;
        height: 48px;
        width: 68px;
      }
    }
  }
}

@media (max-width: 380px) {
  .container_img_shadows {
    left: 300px;
    top: 10px;
  }
}

@media (max-width: 380px) {
  .container_img_shadows {
    top: -1000px;
    left: 230px;
  }
  .carousel {
    .border {
      img {
        top: -80px;
        left: -20px;
        height: 48px;
        width: 68px;
      }
    }
  }
}
