<section>
  <div>
    <div>
      <img src="assets/img/description/übung/IMG_0541.JPG" alt="" />
      <div>
        <p></p>
        <hr />
        <p></p>
      </div>
    </div>
    <div>
      <img src="" alt="" />
      <hr />
    </div>
  </div>
  <div class="container_img_shadows">
    <img
      class="img img_shadows"
      src="assets/shadows/31. Green shadow Skills Portfolio.png"
      alt=""
    />
  </div>

  <!-- <h1><app-description-one></app-description-one></h1>
  <app-description-two></app-description-two>
  <app-description-three></app-description-three> -->
</section>
