<section>
  <div class="discriptio">
    <p class="head" id="about">{{ about }}</p>
    <div>
      <p>{{ way }}</p>
    </div>
    <figure>
      <img
        class="icons"
        src="assets/img/about-me/location.png"
        alt="location"
      />
      <figcaption>{{ place }}</figcaption>
    </figure>
    <figure>
      <img
        class="icons"
        src="assets/img/about-me/light-bulb.png"
        alt="light-bulb"
      />

      <figcaption>{{ enthusiasm }}</figcaption>
    </figure>
    <figure>
      <img class="icons" src="assets/img/about-me/puzzles.png" alt="puzzles" />
      <figcaption>{{ solutions }}</figcaption>
    </figure>
  </div>
  <div class="shadow">
    <img src="assets/shadows/purple-shadow-about-me.png" alt="" />
  </div>
  <div class="picture">
    <img src="assets/img/head.png" alt="" />
  </div>
  <div class="border_line">
    <div class="line"></div>
  </div>
</section>
