@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";

section {
  margin-top: -40%;
  @include layers(5);
  display: grid;
  grid-template-columns: 20% 20% 30% 30%;
  grid-template-areas: "discriptio discriptio picture picture";
  justify-content: space-between;
  align-items: center;
  // border: 2px solid green;
  .discriptio {
    display: flex;
    flex-direction: column;

    padding-left: $p-left;
  }
}

.head {
  height: 435px;
  width: 435px;
  border-radius: 50%;
  object-fit: contain;

  // border-style: ;
  border: 4px solid $green;
}

hr {
  border: none;
  height: 4px;
  width: 267px;

  color: $purple;
  background-color: $green;
}

.discriptio {
  grid-area: discriptio;
}

.picture {
  display: flex;
  align-items: center;
  grid-area: picture;
}

.heding {
  @include fontH();
}

// hr {
//   border: none;
//   height: 4px;
//   width: 267px;
//   color: $purple;
//   background-color: $purple;
// }

.icons {
  height: 48px;
  width: 48px;
}
