<section>
  <div class="discriptio">
    <p class="heding">{{ about }}</p>
    <div>
      <p>{{ way }}</p>
    </div>
    <div>
      <img class="icons" src="assets/img/about-me/Capa_1.png" alt="" />
      <p>{{ place }}</p>
    </div>
    <img class="icons" src="assets/img/about-me/Vector.png" alt="" />
    <p>{{ enthusiasm }}</p>
    <div>
      <img class="icons" src="assets/img/about-me/Vector (1).png" alt="" />
      <p>{{ solutions }}</p>
    </div>
  </div>
  <div class="picture">
    <img class="head" src="assets/img/head.png" alt="" />
    <div>
      <hr />
    </div>
  </div>
</section>
