@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";
@import "./../../../scss/media.scss";

section {
  padding: 100px 0 0 0;
  @include layers(3);
  @include fontH(
    $font_size: $f_body_8,
    $font_weight: $f_w_small,
    $f_media: $f_body_8
  );

  display: grid;
  grid-template-columns: 20% 20% 1fr auto minmax(100px, 267px);
  grid-template-rows: 20px auto;
  grid-template-areas:
    ". . . . shadow"
    "discriptio discriptio . picture line";
  justify-content: space-between;

  align-items: center;
  @include padding($right: 0);
  @include gridCandRows(auto auto auto);
  .discriptio {
    @include layers(3);
    display: flex;
    flex-direction: column;
    grid-area: discriptio;
    gap: 10px;
  }
}

.shadow {
  grid-area: shadow;
  @include layers($layers: 0);
  overflow: visible;
  margin-top: -400px;
  img {
    width: 572px;
    height: 608px;
    position: absolute;
  }
}

.border_line {
  @include layers(1);
  @include dNone();
  grid-area: line;
  .line {
    @include line();
  }
}

figure {
  display: flex;
  align-items: center;
  gap: 10px;
}

.picture {
  @include dNone($none: 1200px);
  grid-area: picture;
  img {
    height: 435px;
    width: 435px;
    border-radius: 50%;
    object-fit: contain;
    border: 4px solid $green;
  }
}

.head {
  @include fontH($f_media_small: $f_body_2);
}

.icons {
  height: 32px;
  width: 26px;
}

@media (max-width: 1200px) {
  section {
    grid-template-areas:
      "shadow"
      "discriptio picture line";
  }
}

@media (max-width: 380px) {
  section {
    grid-template-areas:
      "shadow"
      "discriptio";
  }
}

@media (min-width: 320px) and (max-width: 379px) {
  section {
    margin-top: calc(50vh - 53px);
  }
}
