@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";
@import "./../../../scss/media.scss";

section {
  // border: 2px solid yellow;
  margin-top: -650px;
  // overflow-x: hidden;
  @include fontH(
    $font_size: $f_body_8,
    $font_weight: $f_w_small,
    $f_media: $f_body_8
  );

  @include layers(3);
  display: grid;
  grid-template-columns: 20% 20% 1fr auto minmax(100px, 267px);
  grid-template-rows: 20px auto;
  grid-template-areas:
    ". . . . shadow"
    "discriptio discriptio . picture line";
  justify-content: space-between;

  align-items: center;
  @include padding($right: 0);
  @include gridCandRows(auto auto auto);
  .discriptio {
    display: flex;
    flex-direction: column;
    grid-area: discriptio;
    // padding-left: $p-left;
  }
  .shadow {
    // grid-column: 5 / 6;
    // grid-row: 2 / 2;
    grid-area: shadow;
    @include layers(4);
    overflow: visible;
    // position: relative;
    // position: absolute;
    margin-top: -400px;
    img {
      width: 572px;
      height: 608px;
      // @include imgMedia();
      position: absolute;
    }
  }
}

// .container_img_shadows {
//     overflow: visible;
//     // position: relative;
//     z-index: 0;
//     position: relative;
// .img_shadows{
//     height: 951px;
//     width: 428px;
//     left: -300px;
//     position: absolute;
// }

.border_line {
  @include dNone();
  // grid-column: 5 /6;
  // grid-row: 2 / 3;
  grid-area: line;
  .line {
    @include line();

    // border: none;
    // height: 4px;
    // background-color: $green;
  }
}

.img {
  display: flex;
  align-items: center;
}

.picture {
  @include dNone($none: 1200px);
  grid-area: picture;
  img {
    height: 435px;
    width: 435px;
    border-radius: 50%;
    object-fit: contain;
    border: 4px solid $green;
    // @include maxW($breakpoint_max_w: 900px, $m_width: 250px);
  }
}

.head {
  @include fontH($f_media_small: $f_body_2);
}

.icons {
  height: 32px;
  width: 26px;
}

@media (max-width: 1200px) {
  section {
    grid-template-areas:
      "shadow"
      "discriptio picture line";
  }
}

@media (max-width: 380px) {
  section {
    grid-template-areas:
      "shadow"
      "discriptio";
  }
}

// @media (min-width: 320px) {
//   section {
//     margin-top: 250px;
//   }
// }
