// @import "./../../../styles.scss";
@import "./../../../../styles.scss";

.container_project {
  display: grid;
  grid-template-columns: 50% 50%;

  .container_img_project {
    grid-column: 1 /2;
    img {
      width: 620px;
      height: 340px;
    }
  }
  .container_text_project {
    grid-column: 2 /3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .button {
      display: flex;
      gap: 30px;
    }
  }
}

a {
  font-size: 23px;
  text-decoration: none;
  color: $white;
  //   background-color: $green;
  background-color: red;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
}
