<div class="container_img_shadows">
  <img
    class="img img_shadows"
    src="assets/img/portfolio/Pollo loco 1.png"
    alt=""
  />
</div>
<section>
  <head>
    El pollo loco
  </head>
  <p>JavaScript | HTML | CSS</p>
  <p>
    ein 2 d jump and run spiel das objecktorientiertes programmieren gebaut
    wurde. hilf dem schnelln pepe coins zu sammeln und tabasko flaschen, und
    rüste dich für den end kampf mit dem big hunn.
  </p>
  <div>
    <div>
      <a href="https://el-pollo-loco.theodor-seidenberger.de/">Live test</a>
      <a href="">Github</a>
    </div>
  </div>
</section>
