<section id="skills">
  <div class="icons">
    <!-- <div *ngFor="let mySkillJosn of mySkillJosn">
      <img class="img" [src]="mySkillJosn" alt="pictur" />
    </div> -->
    <div class="grid-container">
      <div *ngFor="let skill of skills">
        <img [src]="skill.image" alt="skill image" />

        <p class="skill_text">{{ skill.text }}</p>
      </div>
    </div>
  </div>
  <div class="container_header">
    <div>
      <span class="head">My skills</span>
      <div class="line">
        <hr />
      </div>
    </div>

    <div class="head_text">
      <span>
        verschiedene fropndent technologien wie zB. java script habe ich in
        meinen projeckten verwendet.
      </span>
    </div>
  </div>
  <div class="container_butten">
    <div>
      sie sind auf der suche nach
      <span [ngStyle]="{ color: 'rgb(151, 71, 255, 1)' }"
        >anderen fähigkeiten</span
      >
    </div>
    <span>
      diese webseite habe ich mit angular entwickelt beiser webseit habe ich in
      angular (eingearbeitet)
    </span>
    <p></p>

    <div></div>
    was habe ich für skills und
    <div>framworks</div>

    <div class="button">
      <a href="#contact">Let's talk</a>
    </div>
  </div>
  <div class="container_img_shadows">
    <img src="assets/shadows/31. Green shadow Skills Portfolio.png" alt="" />
  </div>
</section>
