<section>
  <div class="icons">
    <div *ngFor="let iconsSkills of iconsSkills">
      <img class="img" [src]="iconsSkills" alt="pictur" />
    </div>
  </div>

  <div class="discription">
    <div>
      <div>
        <p class="heding">My skills</p>
        <hr />
      </div>
      <p>
        verschiedene fropndent technologien wie zB. java script habe ich in
        meinen projeckten verwendet.
      </p>

      <p>fähigkeiten ?</p>
      <p>
        ich habe mich bei dieser webseit mit freude in angular eingearbeitet,
        und sehe fiehl potenieal
      </p>
    </div>

    <div></div>
    was habe ich für skills und framworks

    <div>
      <a href="">Let's talk</a>
    </div>
  </div>
</section>
