@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";
@import "./../../../scss/media.scss";

section {
  padding: 100px 0 0 0;
  // margin-top: 100px;
  // margin-top: 50px;
  @include fontH(
    $font_size: $f_body_8,
    $font_weight: $f_w_small,
    $f_media: $f_body_8
  );
  @include padding($right: 0px);
  display: grid;
  grid-template-columns: 15% 15% auto 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  grid-template-areas:
    "icon icon icon container_header "
    "icon icon icon container_butten";
  @include gridCandRows(auto auto);
}

.icons {
  @include layers(2);
  grid-area: icon;
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 32px;
    .skill_img {
      width: 54px;
      height: 60px;
    }
    .skill_text {
      @include fontH(
        $font_size: $f_body_8,
        $font_weight: $f_w_small,
        $f_media: $f_body_9,
        $f_media_small: $f_body_9
      );
      word-break: break-word;
      max-width: 100px;
      text-align: center;
    }
  }
}

figure {
  gap: 10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    object-fit: contain;
  }
}

figcaption {
  text-align: center;
}

.skill_img_box1.move-up {
  animation: slide-in 0.8s linear infinite alternate;
}

@keyframes slide-in {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.move-up.active {
  animation: slide-in 0.8s linear infinite alternate;
}

.text_box2.inactive {
  color: $white;
}

figure.inactive {
  color: $purple;
}

figure.inactive:hover {
  color: $white;
}

figure.inactive:hover img {
  filter: brightness(0) invert(1);
}

.container_header {
  grid-area: container_header;
  @include layers(1);
  .placement {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    .head {
      // @include fontH();
      @include fontH($f_media_small: $f_body_2);
    }
  }
}

.head_text {
  margin: 32px 0;
  @include padding();
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.line {
  display: flex;
  align-items: center;
  hr {
    @include hr($wi: 64px);
  }
}

.container_butten {
  @include layers(1);
  grid-area: container_butten;
  @include padding();
  margin: 32px 0;
  .another_skill {
    @include fontH(
      $font_size: $f_body_2,
      $font_weight: $f_w_big,
      $f_media: $f_body_4
    );
    margin-bottom: 16px;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-end;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  p {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin: 32px 0;
  // display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;

  a {
    @include fontH(
      $font_size: $f_body_5,
      $font_weight: $f_w_small,
      $f_media: $f_body_8
    );
  }
}

a {
  @include customA();
  @include textN();
  transform-origin: right center;
}

a:hover {
  transition: all 0.2s ease;
  background-color: $purple;
  // padding: 20px 35px;
}

.container_img_shadows {
  overflow: visible;
  position: relative;
  @include layers(0);
  left: -300px;
  top: -350px;
  img {
    height: 951px;
    width: 428px;
    position: absolute;
  }
}

@media (max-width: 1200px) {
  section {
    grid-template-areas:
      "container_header "
      "icon"
      " container_butten";
  }
}

@media (max-width: 600px) {
  .head_text,
  .container_butten {
    padding-right: 25px;
    padding-left: 25px;
  }

  .icons {
    .grid-container {
      .skill_img {
        width: 34px;
        height: 48px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .icons {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto auto;
    }
  }
}

@media (max-width: 480px) {
  figure {
    width: 48px;
  }
}

@media (max-width: 1400px) {
  .icons {
    .grid-container {
      column-gap: 4px;
    }
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
