@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";
@import "./../../../scss/media.scss";

section {
  scroll-margin-top: 100px;
  @include layers(3);
  margin-top: 50px;
  // border: 2px solid yellow;
  @include fontH(
    $font_size: $f_body_8,
    $font_weight: $f_w_small,
    $f_media: $f_body_8
  );
  display: grid;
  grid-template-columns: 15% 15% auto 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  grid-template-areas:
    "icon icon icon container_header "
    "icon icon icon container_butten";
  @include gridCandRows(auto auto);
}

.icons {
  grid-area: icon;
  .grid-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;

    gap: 32px;
    @include padding();
    .skill_img {
      width: 54px;
      height: 60px;
    }
    .skill_text {
      @include fontH(
        $font_size: $f_body_8,
        $font_weight: $f_w_small,
        $f_media: $f_body_9,
        $f_media_small: $f_body_9
      );
      word-break: break-word;
      max-width: 100px;
      text-align: center;
    }
  }
}

// neu
figure {
  gap: 10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes slide-in {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

// .skill_img:hover {
//   animation: slide-in 0.8s linear infinite alternate;
// }

.skill_img:hover {
  animation: slide-in 0.8s linear infinite alternate;
}
.skill_img.inactive:hover {
  animation: none;
}

.skill_img.inactive {
  filter: grayscale(100%) sepia(100%) hue-rotate(250deg) saturate(500%)
    brightness(0.7);
}

// .skill_img_color::after {
//   background-color: green;
//   position: absolute;
// background-color: $purple;
// }

.container_header {
  grid-area: container_header;
  @include layers(1);
  div {
    display: flex;
    justify-content: flex-end;
    .head {
      @include fontH();
    }
  }
}

.head_text {
  margin: 32px 0;
  @include padding();
}

.line {
  display: flex;
  align-items: center;
  hr {
    @include hr($wi: 64px);
  }
}

.container_butten {
  grid-area: container_butten;
  @include padding();
  margin: 32px 0;
  .another_skill {
    margin-bottom: 16px;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin: 32px 0;

  a {
    @include fontH(
      $font_size: $f_body_5,
      $font_weight: $f_w_small,
      $f_media: $f_body_8
    );
  }
}

a {
  @include customA();
  @include textN();
}

.container_img_shadows {
  overflow: visible;
  position: relative;
  @include layers(0);
  left: -300px;
  top: -350px;
  img {
    height: 951px;
    width: 428px;
    position: absolute;
  }
}

@media (max-width: 1200px) {
  section {
    grid-template-areas:
      "container_header "
      "icon"
      " container_butten";
  }
}

// @media (max-width: 900px) {
//   .grid-container {
//     display: grid;
//     grid-template-columns: 88px 88px 88px;
//     grid-template-rows: 100px 100px 100px 100px;
//   }
// }

@media (max-width: 600px) {
  .head_text,
  .container_butten {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (max-width: 600px) {
  .icons {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto auto;
    }
  }
  .skill_img {
    width: 48px;
    height: 48px;
  }
}
