@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";
@import "./../../../scss/media.scss";

section {
  margin-top: 50px;
  // border: 2px solid yellow;
  @include fontH(
    $font_size: $f_body_8,
    $font_weight: $f_w_small,
    $f_media: $f_body_8
  );
  display: grid;
  grid-template-columns: 15% 15% auto 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  grid-template-areas:
    "icon icon icon container_header "
    "icon icon icon container_butten";
  @include gridCandRows(auto auto);
}

.grid-container {
  display: grid;
  grid-template-columns: 88px 88px 88px 88px;
  grid-template-rows: 120px 120px 120px;

  gap: 10px;
  @include padding();
}

.icons {
  grid-area: icon;
}

.line {
  display: flex;
  align-items: center;
  hr {
    @include hr($wi: 64px);
  }
}

.container_header {
  grid-area: container_header;
  @include layers(1);
  div {
    display: flex;
    justify-content: flex-end;
    .head {
      @include fontH();
    }
  }
}

.container_butten {
  grid-area: container_butten;
}

.text {
  div {
    @include fontH(
      $font_size: $f_body_2,
      $font_weight: $f_w_small,
      $f_media: $f_body_8
    );
  }
}

.button {
  a {
    @include fontH(
      $font_size: $f_body_5,
      $font_weight: $f_w_small,
      $f_media: $f_body_8
    );
  }
}

a {
  @include customA();
  @include textN();
}

.container_img_shadows {
  overflow: visible;
  position: relative;
  @include layers(0);
  .img_shadows {
    height: 951px;
    width: 428px;
    left: -300px;
    position: absolute;
  }
}

.skill_text {
  @include fontH(
    $font_size: $f_body_8,
    $font_weight: $f_w_small,
    $f_media: $f_body_9
  );
}

@media (max-width: 1200px) {
  section {
    grid-template-areas:
      "container_header "
      "icon"
      " container_butten";
  }
}

@media (max-width: 900px) {
  .grid-container {
    display: grid;
    // grid-template-rows: 88px 88px 88px 88px;
    // grid-template-columns: 100px 100px 100px;
    grid-template-columns: 88px 88px 88px;
    grid-template-rows: 100px 100px 100px 100px;
  }
}

@media (max-width: 600px) {
  .head_text,
  .container_butten {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (max-width: 380px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    // grid-template-columns: 88px 88px 88px;
    // grid-template-rows: 100px 100px 100px 100px;
  }
}
