<section>
  <div class="container_project">
    <div class="container_img_project">
      <img src="assets/img/portfolio/join.png" alt="" />
    </div>
    <div class="container_text_project">
      <p class="head" [ngStyle]="{ color: 'rgb(151, 71, 255, 1)' }">Join</p>
      <p class="skill" [ngStyle]="{ color: 'rgb(112, 230, 28, 1)' }">
        JavaScript | HTML | CSS | Firebase
      </p>
      <p>{{ join_description }}</p>
      <div class="button">
        <a
          class="live"
          href="https://join.theodor-seidenberger.de/"
          target="_blank"
          rel="noopener noreferrer"
          >Live test</a
        >
        <a class="github" target="_blank" href="https://github.com/kaix6/Join"
          >Github</a
        >
      </div>
    </div>
  </div>
</section>
