<section>
  <div class="container_img_shadows">
    <img
      class="img img_shadows"
      src="assets/img/portfolio/Pollo loco 2.png"
      alt=""
    />
  </div>
  <head>
    El pollo loco
  </head>
  <p>JavaScript | HTML | CSS</p>
  <p>
    dies app ist an enin kanban bord angelegt und wurde im them mit insgesmat 4
    personen entwickelt.
  </p>
  <div>
    <div>
      <a href="https://join.theodor-seidenberger.de/">Live test</a>
      <a href="">Github</a>
    </div>
  </div>
</section>
<section></section>
