@import "./scss/color.scss";
@import "./scss/font.scss";
// padding
$p: 0px 100px 0px 100px;

$p-left: 100px;

$p-media: 0px 25px 0px 25px;

@mixin responsivePadding($default, $media) {
  padding: $default;

  @media only screen and (max-width: 1100px) {
    padding: $media;
  }
}

@mixin max_Width() {
  max-width: 1440px;
  margin: auto;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  // overflow: hidden;
}

body {
  margin: 0 auto;
  border: 0;
  padding: 0;
  background-color: $blue;
  color: $white;
  font-family: "Poppins";

  scroll-behavior: smooth;
  text-decoration: none;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}
