// padding
$p: 0px 100px 0px 100px;

$p-left: 100px;

// color
$black: rgb(0, 0, 0, 1);
$blue: rgb(20, 29, 47, 1);
$dark_blue: rgb(24, 34, 53, 1);
$purple: rgb(151, 71, 255, 1);
$green: rgb(112, 230, 28, 1);
$white: rgb(255, 252, 252, 1);

//font
// @mixin fontH() {
//   font-size: 90px;
//   font-weight: 700;
// }

body {
  color: white;
  background-color: $black;
  margin: 0 auto;
  border: 0;
  padding: 0;
  color: $white;
  font-family: "Poppins";
}

// .font {
//   font-family: "Poppins";
// }

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./../public/assets/fonts/poppins-v22-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./../public/assets/fonts/poppins-v22-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
