$black: rgb(0, 0, 0, 1);
$blue: rgb(20, 29, 47, 1);
$dark_blue: rgb(24, 34, 53, 1);
$purple: rgb(151, 71, 255, 1);
$green: rgb(112, 230, 28, 1);
$white: rgb(255, 252, 252, 1);
$grey: rgb(182, 182, 182, 1);
$dark_grey: rgb(65, 72, 86);
