@mixin fontH(
  $font_size: $font_h_l,
  $font_weight: $f_w_big,
  $f_media: $f_body_1,
  $f_media_small: $f_body_8
) {
  font-size: $font_size;
  font-weight: $font_weight;
  @media (max-width: 900px) {
    font-size: $f_media;
  }
  @media (max-width: 380px) {
    font-size: $f_media_small;
  }
}

@mixin fontL() {
  font-size: $font_logo;
  font-weight: $f_w_big;
}

// font weight
$f_w_big: 700;
$f_w_small: 400;

// font
$font_h_l: 90px;
$font_h_2: 64px;
$font_h_3: 58px;
$font_logo: 35px;

$f_body_1: 44px;
$f_body_2: 32px;
$f_body_3: 28px;
$f_body_4: 24px;
$f_body_5: 23px;
$f_body_6: 20px;
$f_body_7: 18px;
$f_body_8: 16px;
$f_body_9: 14px;

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./../../public/assets/fonts/poppins-v22-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./../../public/assets/fonts/poppins-v22-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
