@mixin dNone($none: 600px) {
  @media (max-width: $none) {
    display: none;
  }
}

@mixin padding($right: 100px, $left: 100px) {
  // padding-top: $top;
  padding-right: $right;
  // padding-bottom: $bottom;
  padding-left: $left;
  @media (max-width: 600px) {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@mixin gridCandRows($rows) {
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: $rows;
  }
}

@mixin maxW($breakpoint_max_w, $m_width) {
  @media (max-width: $breakpoint_max_w) {
    width: 100%;
    height: auto;
    // max-width: 620px;
    max-width: $m_width;
  }
}

@mixin imgMedia() {
  // @media (max-width: 7000px) {
  width: 100%;
  height: auto;
  // }
}
