@mixin dNone() {
  @media (max-width: 600px) {
    display: none;
  }
}

@mixin gridCandRows($rows) {
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: $rows;
  }
}

@mixin maxW($max_w) {
  @media (max-width: $max_w) {
    width: 300px;
  }
}
