<section>
  <div class="border"></div>
  <div class="container_outer">
    <div class="container_inner">
      <div class="container_footer">
        <span class="logo">
          Th<span class="letter_e">e</span>odo<span class="letter_r">r </span>
        </span>
        <p class="content">
          Theodor Seidenberger <time datetime="01-2026">2026</time>
        </p>
        <app-button-img></app-button-img>
      </div>
      <div>
        <a [routerLink]="['/', currentLang, 'impressum']">{{ legelNotice }}</a>
      </div>
    </div>
  </div>
</section>
