<section>
  <div class="border"></div>
  <div class="container_outer">
    <div class="container_inner">
      <div class="container_footer">
        <span class="logo">
          Th<span class="letter_e">e</span>odo<span class="letter_r">r </span>
        </span>
        <p class="content">
          Theodor Seidenberger <time datetime="06-2025">2025</time>
        </p>
        <!-- <div>
          <img
            *ngFor="let iconsLandingpage of iconsLandingpage"
            class="icons"
            [src]="iconsLandingpage"
            alt="pictur"
          />
        </div> -->
        <app-button-img></app-button-img>
      </div>
      <div>
        <a href="impressum" rel="noopener noreferrer">{{ legelNotice }}</a>
      </div>
    </div>
  </div>
</section>
