@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";

section {
  @include fontH(
    $font_size: $f_body_5,
    $font_weight: $f_w_small,
    $f_media: $f_body_5
  );
  @include layers(2);
  background-color: $black;
  background-color: #141d2f;
  .container_outer {
    @include max_Width();
    width: 100vw;
    .container_inner {
      @include responsivePadding($p, $p-media);
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 291px;
    }
  }
}

.logo {
  font-size: 35px;
  font-weight: 700;
  > .letter_e {
    position: relative;
    display: inline-block;
  }
  > .letter_e::after {
    content: "e";
    position: absolute;
    left: 0;
    top: 50;
    color: $green;
    clip-path: inset(0 0 50% 0);
  }
  > .letter_r {
    position: relative;
    display: inline-block;
  }
  > .letter_r::after {
    content: "r";
    position: absolute;
    left: 0;
    top: 50;
    color: $purple;
    clip-path: inset(0 0 50% 50%);
  }
}

.container_footer {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    gap: 21px;
  }
}

.border {
  @include line();
}

a {
  @include textN();
  @include fontH(
    $font_size: $f_body_8,
    $font_weight: $f_w_small,
    $f_media: $f_body_8
  );
  position: relative;
  display: inline-block;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background-color: $purple;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
}

@media (hover: hover) {
  a:hover::after {
    transform: scaleX(1);
  }
}

a:focus::after,
a:active::after {
  transform: scaleX(0);
}

img {
  width: 30px;
  height: 30px;
  gap: 21px;
}

@media only screen and (max-width: 1100px) {
  .container_inner {
    align-items: center;
  }
  .container_footer {
    align-items: center;
    flex-direction: column;
    div {
      padding: 10px;
    }
  }
  .logo {
    padding: 10px;
  }
  .content {
    padding: 10px;
  }
}
