@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";

section {
  @include max_Width();
  // padding: $p;
  display: flex;
  justify-content: space-around;
  // align-items: center;
  // border: 2px solid burlywood;
  @include layers(2);
  background-color: $black;
  background-color: #141d2f;
  height: 291px;
}

p {
  font-size: 35px;
  font-weight: 700;
  > .letter_e {
    position: relative;
    display: inline-block;
  }
  > .letter_e::after {
    content: "e";
    position: absolute;
    left: 0;
    top: 50;
    color: $green;
    clip-path: inset(0 0 50% 0);
  }
  > .letter_r {
    position: relative;
    display: inline-block;
  }
  > .letter_r::after {
    content: "r";
    position: absolute;
    left: 0;
    top: 50;
    color: $purple;
    clip-path: inset(0 0 50% 50%);
  }
}

.border {
  width: 100px;
  height: 4px;
  background-color: $green;
}
