@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";

section {
  @include fontH(
    $font_size: $f_body_5,
    $font_weight: $f_w_small,
    $f_media: $f_body_5
  );

  // @include max_Width();
  // padding: $p;

  // align-items: center;
  // border: 2px solid burlywood;
  @include layers(2);
  background-color: $black;
  background-color: #141d2f;
  .container_outer {
    @include max_Width();
    width: 100vw;
    .container_inner {
      // @include max_Width();
      // padding: $p;
      @include responsivePadding($p, $p-media);
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 291px;
    }
  }
}

.logo {
  font-size: 35px;
  font-weight: 700;
  // @include fontL();
  > .letter_e {
    position: relative;
    display: inline-block;
  }
  > .letter_e::after {
    content: "e";
    position: absolute;
    left: 0;
    top: 50;
    color: $green;
    clip-path: inset(0 0 50% 0);
  }
  > .letter_r {
    position: relative;
    display: inline-block;
  }
  > .letter_r::after {
    content: "r";
    position: absolute;
    left: 0;
    top: 50;
    color: $purple;
    clip-path: inset(0 0 50% 50%);
  }
}

.container_footer {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    gap: 21px;
  }
}

.border {
  @include line();

  // height: 4px;''
  // background-color: $green;
}

a {
  // text-decoration: none;
  @include textN();
  @include fontH(
    $font_size: $f_body_8,
    $font_weight: $f_w_small,
    $f_media: $f_body_8
  );
}

img {
  width: 30px;
  height: 30px;
  // display: flex;
  gap: 21px;
}

@media only screen and (max-width: 1100px) {
  .container_outer {
    // width: 100vh;
  }
  .container_inner {
    align-items: center;
    // padding: $p-media;
  }
  .container_footer {
    align-items: center;
    flex-direction: column;
    div {
      padding: 10px;
    }
  }
  .border {
    // width: 100vh;
  }
  .logo {
    padding: 10px;
  }
  .content {
    padding: 10px;
  }
}
