@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";
@import "./../../../scss/media.scss";

.overlay_icons {
  display: flex;
  align-items: center;
  gap: 10px;
  hr {
    @include hr();
    // position:absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: calc((100vw - 1440px) / 2 + 100px);
  }
  nav {
    margin: auto;
  }
  a {
    padding: 0 10px;
  }
  address {
    .email {
      text-decoration: none;
      color: $white;
      @include dNone();
    }
  }
}
