@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";
@import "./../../../scss/media.scss";

section {
  // scroll-margin-top: 100px;

  @include padding();
  @include fontH(
    $font_size: $f_body_8,
    $font_weight: $f_w_small,
    $f_media: $f_body_8
  );
  display: grid;
  grid-template-rows: 1fr;
  .container_img_shadows {
    grid-row: 3 /4;
    overflow: visible;
    position: relative;
    @include layers(0);
    margin-left: -200px;
    .img {
      height: 636px;
      width: 748px;
      left: -300px;
      position: absolute;
    }
  }
}

.portfolio {
  margin-top: 100px;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  flex-direction: column;
  // text-align: right;
}

.header_line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  @include layers(1);
  .hr_left {
    // width: 100px;
    position: relative;
    @include hr();
  }
  .head {
    // @include fontH();
    @include fontH($f_media_small: $f_body_2);
  }
  .hr_right {
    // width: 100px;
    position: relative;
    @include hr($wi: 300px);
  }
  .description {
    text-align: right;
    width: max-content;
    align-self: flex-start;
  }
}

.container_project {
  grid-template-columns: 50% 50%;
  @include layers(1);
  display: flex;
  .container_img_project {
    img {
      width: 620px;
      height: auto;
      @include maxW($breakpoint_max_w: 700px, $m_width: 620px);
    }
  }
  .container_text_project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .head {
      margin: 8px 0;
      @include fontH($font_size: $f_body_2, $f_media: $f_body_2);
    }
    .skill {
      @include fontH(
        $font_size: $f_body_5,
        $font_weight: $f_w_small,
        $f_media: $f_body_5
      );
    }
    p {
      @include fontH(
        $font_size: $f_body_5,
        $font_weight: $f_w_small,
        $f_media: $f_body_8
      );
    }
    .button {
      margin: 8px 0;
      @include fontH(
        $font_size: $f_body_4,
        $font_weight: $f_w_small,
        $f_media: $f_body_5
      );
      display: flex;
      gap: 30px;
    }
  }

  &.reverse {
    .container_img_project {
      order: 2;
    }
    .container_text_project {
      order: 1;
    }
  }
}

.live {
  @include customA($backc: $purple, $bColor: $purple);
  @include textN();
}

.github {
  @include customA($backc: $blue);
  @include textN();
}

@media (max-width: 1200px) {
  .container_project {
    flex-direction: column;
  }
}
