<section id="portfolio" class="portfolio">
  <header>
    <div class="header_line">
      <div>
        <hr class="hr_left" />
      </div>
      <p class="head">Portfolio</p>
      <div>
        <hr class="hr_right" />
      </div>
    </div>
    <p class="description">{{ descriptionPortfoli }}</p>
  </header>

  <div class="container_img_shadows">
    <img
      class="img img_shadows"
      src="assets/shadows/purple-shadow-portfolio.png"
      alt=""
    />
  </div>
  <app-join></app-join>
  <app-el-pollo-loco [reverse]="reverse"></app-el-pollo-loco>
</section>
