@import "./../../../styles.scss";
@import "./../../../scss/layers.scss";
@import "./../../../scss/mixin.scss";
@import "./../../../scss/media.scss";

section {
  @include padding();
  // padding: $p;
  @include fontH(
    $font_size: $f_body_8,
    $font_weight: $f_w_small,
    $f_media: $f_body_8
  );
  // border: 2px solid blue;
  display: grid;
  grid-template-rows: 1fr;

  .container_img_shadows {
    grid-row: 3 /4;
    overflow: visible;
    position: relative;
    @include layers(0);
    .img {
      height: 636px;
      width: 748px;
      left: -300px;
      position: absolute;
    }
  }
  // .join {
  //   grid-row: 2 / 3;
  // }

  // .pollo_loco {
  //   grid-row: 4 / 5;
  // }
}

.header {
  display: grid;
  // grid-template-columns: 100px auto 507px;
  grid-template-columns: minmax(24px, 100px) 1fr minmax(100px, 507px);
  // display: flex;
  align-items: center;
  justify-content: end;

  hr {
    @include hr($wi: 100%);
  }
  .heding {
    @include fontH();
  }
  .description {
    // grid-row: 2 / 3;
    grid-column: 1/4;
  }
}

.container_project {
  // .container_item {
  display: grid;
  grid-template-columns: 50% 50%;
  @include layers(1);
  // @include gridCandRows(auto auto);
  display: flex;
  .container_img_project {
    padding: $p;
    grid-column: 1 /2;
    img {
      width: 620px;
      // height: 340px;
      height: auto;
      @include maxW($max_w: 700px);
    }
  }
  .container_text_project {
    padding: $p;
    grid-column: 2 /3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .head {
      @include fontH(
        $font_size: $f_body_2,
        // $font_weight: f_w_big,
        $f_media: $f_body_2
      );
    }
    .skill {
      @include fontH(
        $font_size: $f_body_5,
        $font_weight: $f_w_small,
        $f_media: $f_body_5
      );
    }
    p {
      @include fontH(
        $font_size: $f_body_5,
        $font_weight: $f_w_small,
        $f_media: $f_body_5
      );
    }
    .button {
      display: flex;
      gap: 30px;
    }
  }
}

.live {
  @include customA($backc: $purple, $bColor: $purple);
  @include textN();
}

.github {
  @include customA($backc: $blue);
  @include textN();
}

.container_item.reverse {
  .container_project {
    // display: flex;
    // flex-direction: row-reverse;
    .container_text_project {
      grid-column: 1 /2;
      grid-row: 1 / 2;
    }
    .container_img_project {
      grid-column: 2 /3;
    }
  }
}

@media (max-width: 1200px) {
  .container_project {
    flex-direction: column;
  }
}
