<section id="portfolio">
  <div class="header">
    <div>
      <hr />
    </div>
    <p class="head">Portfolio</p>
    <div>
      <hr />
    </div>
    <p class="description">{{ descriptionPortfoli }}</p>
  </div>
  <div class="container_img_shadows">
    <img
      class="img img_shadows"
      src="assets/shadows/purple-shadow-portfolio.png"
      alt=""
    />
  </div>
  <app-join></app-join>
  <app-el-pollo-loco [reverse]="reverse"></app-el-pollo-loco>
  <!-- <div
    *ngFor="let portfolio of portfolio; let i = index"
    class="container_item"
    [ngClass]="{ reverse: i % 2 !== 0 }"
  > -->
  <!-- <div class="container_project">
      <div class="container_img_project">
        <img [src]="portfolio.image" alt="" />
      </div>
      <div class="container_text_project">
        <p class="head" [ngStyle]="{ color: 'rgb(151, 71, 255, 1)' }">
          {{ portfolio.head }}
        </p>
        <p class="skill" [ngStyle]="{ color: 'rgb(112, 230, 28, 1)' }">
          {{ portfolio.skills }}
        </p>
        <p>{{ getTranslation(portfolio.descriptionKey, currentLang) }}</p>
        <div class="button">
          <a
            class="live"
            href="{{ portfolio.button_live }}"
            target="_blank"
            rel="noopener noreferrer"
            >Live test</a
          >
          <a class="github" href="">Github</a>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
</section>
